body{
	background-color: #red
}

.product_title{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.product_text{
padding-right: 20px;
}