body{
	/*background-color: #e0e0e0;*/
}

.product_title{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.product_text{
	padding-right: 20px;
}

.product_desc{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .2em;
}


.header{

	background: url('{% static 'images/bg.png' %}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    height: 300px; 
	margin-bottom: 30px;
}

